MNIST/.ipynb_checkpoints
MNIST/ios/DigitClassifier.xcodeproj/xcuserdata
MNIST/ios/DigitClassifier.xcworkspace/xcuserdata
MNIST/ios/Pods/Pods.xcodeproj/xcuserdata
MNIST/ios/Pods
Glory-of-Kings/dataset-collector/__pycache__
Glory-of-Kings/ios/ImageClassification.xcodeproj/xcuserdata
Glory-of-Kings/ios/ImageClassification.xcworkspace/xcuserdata
Glory-of-Kings/ios/Pods
